body {
    margin: 0;
    padding-top: 100px;
    font-weight: bold;

}




.ph{
    width: 200px;
    position: relative;
right: 600px;
top: 10px;


}

nav{
  position: fixed;
    top:0;
    left:0px;
    background: #a3d2f862;
    height: 80px;
    padding: 30 10px;
    display: flex;
    color: #ff5a3a;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;

}
nav a{
    /* background-color: #0336FF; */
    /* color: #FFDE03; */
    color: inherit;
    text-decoration: none;
    margin-left: 20px;
}

.nv1{
    /* left: 700px; */
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-weight: bold;
  }

h1{
    padding: 10px;
}

h4{
    right:500px;
    position: relative;
    top: 20px;
    font-size: 13px;
}
.icon{
/* padding:100 20px; */
    position: absolute;
top:200px;
right: 600px;
width:50px;

}


section {
    width: 80%;
    margin: 0 auto;
    padding: 50px;
  }
/* 
  section:nth-of-type(odd){
      background:#FFDE03;
  } */

  h2 {
    font-family: 'Varela Round', sans-serif;
    text-decoration: underline;
    text-decoration-color: #ff5a3a;
    color:#ff5a3a;
    background-color: #a3d2f862;
    
  }
  a:hover{
    background: #90caf8;

  }
  .row {
    display: -webkit-box; /* IE10 */
    /* display: flex; */
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 55px;
  }
  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }

  

  .col-4 {
    width: calc(100% / 12 * 4);
    padding: 20px;
    
  }
  ul,p{
    font-family: 'Varela Round', sans-serif;
    color: #90caf8;   
    /* font-size: 30px; */
  }
 h5, h3{
  font-family: 'Varela Round', sans-serif;
    color: #ff5a3a;  
  }

  .container {
    display: flex;
    flex-wrap: wrap;
  }
  @media (max-width:768px){
    .sm-col-12 {
        width: 100%;
      }
      img {
        border-radius: 0;
      }
    }
    .col-6{
        width: calc(100% / 12 * 4);
        padding: 20px;
    }
.icon1{
    /* padding:100 20px; */
        position: absolute;
    top:200px;
   
    right:670px;
    width:50px;
    }
    .icon2{
        /* padding:100 20px; */
            position: absolute;
        top:200px;
        right: 740px;
        width:50px;
        }
        #ed{
          position: absolute;
          top: 263%;
          left: 42%;
          width: 45%;
        }
        #ed1{
          position: absolute;
          top: 299%;
          left: 47%;
          width: 38%;
      }
      
        /* .pp{
          position: absolute;
        bottom: -200%;
        left: 10%;
    }
    
    .ppp{
          position: absolute;
        bottom: -200%;
        left: 30%;
    
    }
    
    .pppp{
          position: absolute;
        bottom: -200%;
        left: 60%;
    
    } */
        .im {
            max-width: 93%;
            border-radius: 5%;
          }

          .mySlides {
            position: relative;
           
          }
          
          /* Bottom right text */
          /* .text-block {
            position: absolute;
            bottom: -10px;
            right: 2px;
            background-color:#a3d2f846;
            color: black;
            padding-left: 20px;
            padding-right: 20px;
            font-family: 'Varela Round', sans-serif;

          } */

          * {
            box-sizing: border-box;
          }
         
          .col-7{
            width: calc(100% / 12 * 4);
            padding:9px;
            right: 100px;
        }


        .up {
          position: fixed;
          right: -45%;
          bottom: 10%;
          width: 100%;
          
          text-align: center;
          color: inherit;
   
        }


.up :hover{
  background: #ff5a3a;
}


        footer {
          position: relative;
          left: 0;
          bottom: 0;
          width: 100%;
          background-color: #a3d2f846;
          font-family: 'Varela Round', sans-serif;
    color: #ff5a3a; 
          /* text-align: center; */
          padding: 10px;
          font-size: 13px;
        }
